<a href="https://colab.research.google.com/github/Thulasi604/ML-PROJECT/blob/main/Day2_Numpy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
import seaborn as sns

In [ ]:
df=sns.load_dataset("titanic")

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
df.shape

(891, 15)

In [ ]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
df.size

13365

In [ ]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [ ]:
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df=df.drop(columns=['deck'])
df.shape

(891, 14)

In [ ]:
#Remove null values
df.dropna(subset=['embarked','embark_town'],inplace=True)
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
embark_town      0
alive            0
alone            0
dtype: int64

In [ ]:
age_mean=df['age'].mean()
df['age']=df['age'].fillna(age_mean)

In [ ]:
df['family_size']=df['sibsp']+df['parch']

In [ ]:
#creating and modifying columns
df['age_group']=np.where(df['age']<18,"child","adult")

In [ ]:
df['fare_per_person']=df['fare']/(df['family_size']+1)

In [ ]:
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,age_group,family_size,fare_per_person
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,Southampton,no,False,adult,1,3.62500
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,adult,1,35.64165
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,Southampton,yes,True,adult,0,7.92500
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,Southampton,yes,False,adult,1,26.55000
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,Southampton,no,True,adult,0,8.05000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,Southampton,no,True,adult,0,13.00000
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,Southampton,yes,True,adult,0,30.00000
888,0,3,female,29.642093,1,2,23.4500,S,Third,woman,False,Southampton,no,False,adult,3,5.86250
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,Cherbourg,yes,True,adult,0,30.00000
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,Queenstown,no,True,adult,0,7.75000

In [ ]:
#Rename
df.rename(columns={'pclass':'Passenger_Class'},inplace=True)
df

,survived,Passenger_Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,age_group,family_size,fare_per_person
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,Southampton,no,False,adult,1,3.62500
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,adult,1,35.64165
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,Southampton,yes,True,adult,0,7.92500
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,Southampton,yes,False,adult,1,26.55000
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,Southampton,no,True,adult,0,8.05000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,Southampton,no,True,adult,0,13.00000
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,Southampton,yes,True,adult,0,30.00000
888,0,3,female,29.642093,1,2,23.4500,S,Third,woman,False,Southampton,no,False,adult,3,5.86250
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,Cherbourg,yes,True,adult,0,30.00000
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,Queenstown,no,True,adult,0,7.75000

In [ ]:
#Filtering and conditional selection

In [ ]:
df[df['age']>df['age'].mean()]

,survived,Passenger_Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,age_group,family_size,fare_per_person
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,adult,1,35.641650
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False,adult,1,26.550000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True,adult,0,8.050000
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,Southampton,no,True,adult,0,51.862500
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,Southampton,yes,True,adult,0,26.550000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,0,3,male,47.0,0,0,9.0000,S,Third,man,True,Southampton,no,True,adult,0,9.000000
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,Cherbourg,yes,False,adult,1,41.579150
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,Southampton,no,True,adult,0,7.895800
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,Queenstown,no,False,adult,5,4.854167
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True,adult,0,7.750000

In [ ]:
#female passengers in class

In [ ]:
df[(df['sex']=='female')&(df['Passenger_Class']==1)]

,survived,Passenger_Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,age_group,family_size,fare_per_person
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,adult,1,35.641650
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,Southampton,yes,False,adult,1,26.550000
11,1,1,female,58.000000,0,0,26.5500,S,First,woman,False,Southampton,yes,True,adult,0,26.550000
31,1,1,female,29.642093,1,0,146.5208,C,First,woman,False,Cherbourg,yes,False,adult,1,73.260400
52,1,1,female,49.000000,1,0,76.7292,C,First,woman,False,Cherbourg,yes,False,adult,1,38.364600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,1,female,45.000000,1,1,164.8667,S,First,woman,False,Southampton,yes,False,adult,2,54.955567
862,1,1,female,48.000000,0,0,25.9292,S,First,woman,False,Southampton,yes,True,adult,0,25.929200
871,1,1,female,47.000000,1,1,52.5542,S,First,woman,False,Southampton,yes,False,adult,2,17.518067
879,1,1,female,56.000000,0,1,83.1583,C,First,woman,False,Cherbourg,yes,False,adult,1,41.579150
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,Southampton,yes,True,adult,0,30.000000

In [ ]:
#survivors only
df[df['survived']==1]

,survived,Passenger_Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone,age_group,family_size,fare_per_person
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False,adult,1,35.64165
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True,adult,0,7.92500
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False,adult,1,26.55000
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,Southampton,yes,False,adult,2,3.71110
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,Cherbourg,yes,False,child,1,15.03540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,Cherbourg,yes,True,child,0,7.22500
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,Cherbourg,yes,False,adult,1,41.57915
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,Southampton,yes,False,adult,1,13.00000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True,adult,0,30.00000
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True,adult,0,30.00000

In [ ]:
#survival rate by gender

In [ ]:
df.groupby('sex')['survived'].mean()

sex
female    0.740385
male      0.188908
Name: survived, dtype: float64

In [ ]:
#Average fare by class
df.groupby('Passenger_Class')['fare'].mean()

Passenger_Class
1    84.193516
2    20.662183
3    13.675550
Name: fare, dtype: float64

In [ ]:
#highly correlated variables

In [ ]:
from numpy._core import numerictypes
df.corr(numeric_only=True)

,survived,Passenger_Class,age,sibsp,parch,fare,adult_male,alone,family_size,fare_per_person
survived,1.000000,-0.335549,-0.074513,-0.034040,0.083151,0.255290,-0.555520,-0.206207,0.018277,0.217902
Passenger_Class,-0.335549,1.000000,-0.328256,0.081656,0.016824,-0.548193,0.090098,0.138553,0.064221,-0.482024
age,-0.074513,-0.328256,1.000000,-0.231908,-0.178013,0.088780,0.258793,0.177445,-0.247459,0.136787
sibsp,-0.034040,0.081656,-0.231908,1.000000,0.414542,0.160887,-0.255401,-0.584186,0.890654,-0.093211
parch,0.083151,0.016824,-0.178013,0.414542,1.000000,0.217532,-0.351945,-0.583112,0.782988,-0.067422
fare,0.255290,-0.548193,0.088780,0.160887,0.217532,1.000000,-0.179851,-0.274079,0.218658,0.840902
adult_male,-0.555520,0.090098,0.258793,-0.255401,-0.351945,-0.179851,1.000000,0.407992,-0.350419,-0.078503
alone,-0.206207,0.138553,0.177445,-0.584186,-0.583112,-0.274079,0.407992,1.000000,-0.690654,0.042706
family_size,0.018277,0.064221,-0.247459,0.890654,0.782988,0.218658,-0.350419,-0.690654,1.000000,-0.097399
fare_per_person,0.217902,-0.482024,0.136787,-0.093211,-0.067422,0.840902,-0.078503,0.042706,-0.097399,1.000000

In [ ]:
df=sns.load_dataset("tips")

In [ ]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_bill      244 non-null    float64
 1   tip             244 non-null    float64
 2   sex             244 non-null    category
 3   smoker          244 non-null    category
 4   day             244 non-null    category
 5   time            244 non-null    category
 6   size            244 non-null    int64
 7   tip_percentage  244 non-null    float64
 8   high_spender    244 non-null    int64
dtypes: category(4), float64(3), int64(2)
memory usage: 11.2 KB

total_bill         float64
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
tip_percentage     float64
high_spender         int64
dtype: object

In [ ]:
df.shape

(244, 7)

In [ ]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
avg_total_bill=df['total_bill'].mean()
avg_total_bill

np.float64(19.78594262295082)

In [ ]:
median=df['tip'].median()
median

2.9

In [ ]:
mean=df['tip'].mean()
mean

np.float64(2.99827868852459)

In [ ]:
df['tip_percentage']=df["tip"]/df['total_bill']*100
df

     total_bill   tip     sex smoker   day    time  size  tip_percentage
0         16.99  1.01  Female     No   Sun  Dinner     2        5.944673
1         10.34  1.66    Male     No   Sun  Dinner     3       16.054159
2         21.01  3.50    Male     No   Sun  Dinner     3       16.658734
3         23.68  3.31    Male     No   Sun  Dinner     2       13.978041
4         24.59  3.61  Female     No   Sun  Dinner     4       14.680765
..          ...   ...     ...    ...   ...     ...   ...             ...
239       29.03  5.92    Male     No   Sat  Dinner     3       20.392697
240       27.18  2.00  Female    Yes   Sat  Dinner     2        7.358352
241       22.67  2.00    Male    Yes   Sat  Dinner     2        8.822232
242       17.82  1.75    Male     No   Sat  Dinner     2        9.820426
243       18.78  3.00  Female     No  Thur  Dinner     2       15.974441

[244 rows x 8 columns]

In [ ]:
df['high_spender']=np.where(df['total_bill']>avg_total_bill,1,0)

In [ ]:
df

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,high_spender
0,16.99,1.01,Female,No,Sun,Dinner,2,5.944673,0
1,10.34,1.66,Male,No,Sun,Dinner,3,16.054159,0
2,21.01,3.50,Male,No,Sun,Dinner,3,16.658734,1
3,23.68,3.31,Male,No,Sun,Dinner,2,13.978041,1
4,24.59,3.61,Female,No,Sun,Dinner,4,14.680765,1
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,20.392697,1
240,27.18,2.00,Female,Yes,Sat,Dinner,2,7.358352,1
241,22.67,2.00,Male,Yes,Sat,Dinner,2,8.822232,1
242,17.82,1.75,Male,No,Sat,Dinner,2,9.820426,0
243,18.78,3.00,Female,No,Thur,Dinner,2,15.974441,0

In [ ]:
df[df['total_bill']>30]

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,high_spender
11,35.26,5.00,Female,No,Sun,Dinner,4,14.180374,1
23,39.42,7.58,Male,No,Sat,Dinner,4,19.228818,1
39,31.27,5.00,Male,No,Sat,Dinner,3,15.989767,1
44,30.40,5.60,Male,No,Sun,Dinner,4,18.421053,1
47,32.40,6.00,Male,No,Sun,Dinner,4,18.518519,1
52,34.81,5.20,Female,No,Sun,Dinner,4,14.938236,1
56,38.01,3.00,Male,Yes,Sat,Dinner,4,7.892660,1
59,48.27,6.73,Male,No,Sat,Dinner,4,13.942407,1
83,32.68,5.00,Male,Yes,Thur,Lunch,2,15.299878,1
85,34.83,5.17,Female,No,Thur,Lunch,4,14.843526,1
95,40.17,4.73,Male,Yes,Fri,Dinner,4,11.774956,1
102,44.30,2.50,Female,Yes,Sat,Dinner,3,5.643341,1
112,38.07,4.00,Male,No,Sun,Dinner,3,10.506961,1
141,34.30,6.70,Male,No,Thur,Lunch,6,19.533528,1
142,41.19,5.00,Male,No,Thur,Lunch,5,12.138869,1
156,48.17,5.00,Male,No,Sun,Dinner,6,10.379905,1
167,31.71,4.50,Male,No,Sun,Dinner,4,14.191107,1
170,50.81,10.00,Male,Yes,Sat,Dinner,3,19.681165,1
173,31.85,3.18,Male,Yes,Sun,Dinner,2,9.984301,1
175,32.90,3.11,Male,Yes,Sun,Dinner,2,9.452888,1
179,34.63,3.55,Male,Yes,Sun,Dinner,2,10.251227,1
180,34.65,3.68,Male,Yes,Sun,Dinner,4,10.620491,1
182,45.35,3.50,Male,Yes,Sun,Dinner,3,7.717751,1
184,40.55,3.00,Male,Yes,Sun,Dinner,2,7.398274,1
187,30.46,2.00,Male,Yes,Sun,Dinner,5,6.565988,1
197,43.11,5.00,Female,Yes,Thur,Lunch,4,11.598237,1
207,38.73,3.00,Male,Yes,Sat,Dinner,4,7.745933,1
210,30.06,2.00,Male,Yes,Sat,Dinner,3,6.653360,1
212,48.33,9.00,Male,No,Sat,Dinner,4,18.621974,1
219,30.14,3.09,Female,Yes,Sat,Dinner,4,10.252157,1
237,32.83,1.17,Male,Yes,Sat,Dinner,2,3.563814,1
238,35.83,4.67,Female,No,Sat,Dinner,3,13.033771,1

In [ ]:
df[df['tip_percentage']>20]

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,high_spender
6,8.77,2.00,Male,No,Sun,Dinner,2,22.805017,0
9,14.78,3.23,Male,No,Sun,Dinner,2,21.853857,0
14,14.83,3.02,Female,No,Sun,Dinner,2,20.364127,0
17,16.29,3.71,Male,No,Sun,Dinner,3,22.774708,0
18,16.97,3.50,Female,No,Sun,Dinner,3,20.624632,0
20,17.92,4.08,Male,No,Sat,Dinner,2,22.767857,0
42,13.94,3.06,Male,No,Sun,Dinner,2,21.951220,0
46,22.23,5.00,Male,No,Sun,Dinner,2,22.492128,1
51,10.29,2.60,Female,No,Sun,Dinner,2,25.267250,0
63,18.29,3.76,Male,Yes,Sat,Dinner,4,20.557682,0
67,3.07,1.00,Female,Yes,Sat,Dinner,1,32.573290,0
81,16.66,3.40,Male,No,Thur,Lunch,2,20.408163,0
87,18.28,4.00,Male,No,Thur,Lunch,2,21.881838,0
88,24.71,5.85,Male,No,Thur,Lunch,2,23.674626,1
93,16.32,4.30,Female,Yes,Fri,Dinner,2,26.348039,0
100,11.35,2.50,Female,Yes,Fri,Dinner,2,22.026432,0
108,18.24,3.76,Male,No,Sat,Dinner,2,20.614035,0
109,14.31,4.00,Female,Yes,Sat,Dinner,2,27.952481,0
110,14.00,3.00,Male,No,Sat,Dinner,2,21.428571,0
115,17.31,3.50,Female,No,Sun,Dinner,2,20.219526,0
124,12.48,2.52,Female,No,Thur,Lunch,2,20.192308,0
139,13.16,2.75,Female,No,Thur,Lunch,2,20.896657,0
140,17.47,3.50,Female,No,Thur,Lunch,2,20.034345,0
149,7.51,2.00,Male,No,Thur,Lunch,2,26.631158,0
172,7.25,5.15,Male,Yes,Sun,Dinner,2,71.034483,0
174,16.82,4.00,Male,Yes,Sun,Dinner,2,23.781213,0
178,9.60,4.00,Female,Yes,Sun,Dinner,2,41.666667,0
181,23.33,5.65,Male,Yes,Sun,Dinner,2,24.217745,1
183,23.17,6.50,Male,Yes,Sun,Dinner,4,28.053517,1
185,20.69,5.00,Male,No,Sun,Dinner,5,24.166264,1
191,19.81,4.19,Female,Yes,Thur,Lunch,2,21.150934,1
194,16.58,4.00,Male,Yes,Thur,Lunch,2,24.125452,0
200,18.71,4.00,Male,Yes,Thur,Lunch,3,21.378942,0
214,28.17,6.50,Female,Yes,Sat,Dinner,3,23.074192,1
221,13.42,3.48,Female,Yes,Fri,Lunch,2,25.931446,0
222,8.58,1.92,Male,Yes,Fri,Lunch,1,22.377622,0
228,13.28,2.72,Male,No,Sat,Dinner,2,20.481928,0
232,11.61,3.39,Male,No,Sat,Dinner,2,29.198966,0
239,29.03,5.92,Male,No,Sat,Dinner,3,20.392697,1

In [ ]:
df.groupby('sex')['tip'].mean()

/tmp/ipython-input-3407121299.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [ ]:
df.groupby('day')['total_bill'].mean()

/tmp/ipython-input-1881343769.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['total_bill'].mean()

day
Thur    17.682742
Fri     17.151579
Sat     20.441379
Sun     21.410000
Name: total_bill, dtype: float64

In [ ]:
df.groupby('smoker')['tip_percentage'].mean()

/tmp/ipython-input-3494168819.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('smoker')['tip_percentage'].mean()

smoker
Yes    16.319604
No     15.932846
Name: tip_percentage, dtype: float64

In [ ]:

df.corr(numeric_only=True)

                total_bill       tip      size  tip_percentage  high_spender
total_bill        1.000000  0.675734  0.598315       -0.338624      0.787342
tip               0.675734  1.000000  0.489299        0.342370      0.554292
size              0.598315  0.489299  1.000000       -0.142860      0.497736
tip_percentage   -0.338624  0.342370 -0.142860        1.000000     -0.250158
high_spender      0.787342  0.554292  0.497736       -0.250158      1.000000

In [ ]:
arr=np.arange(1,17).reshape(4,4)
arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
arr1=np.array([1,3,2,4,5,6,8,9])
arr1

array([1, 3, 2, 4, 5, 6, 8, 9])

In [ ]:
arr1[arr1%2==0]=-1 #replacing even numbers by -1

In [ ]:
arr1

array([ 1,  3, -1, -1,  5, -1, -1,  9])

In [ ]:
arr=np.array([10,20,30,40,50])
arr

array([10, 20, 30, 40, 50])

In [ ]:
m=np.mean(arr)
m

np.float64(30.0)

In [ ]:
sd=np.std(arr)
sd

np.float64(14.142135623730951)

In [ ]:
normalised=(arr-m)/(sd)
normalised

array([-1.41421356, -0.70710678,  0.        ,  0.70710678,  1.41421356])

In [ ]:
y=np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9],
])
y

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
y[0][1]

np.int64(2)

In [ ]:
y[1][1]

np.int64(5)

In [ ]:
y[2][0]

np.int64(7)

In [ ]:
y[2]

array([7, 8, 9])

In [ ]:
y[1:,:2]

array([[4, 5],
       [7, 8]])

In [ ]:
y[:2,1:]

array([[2, 3],
       [5, 6]])

In [6]:
df=sns.load_dataset("penguins")

In [7]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [11]:
df.count()

species              344
island               344
bill_length_mm       342
bill_depth_mm        342
flipper_length_mm    342
body_mass_g          342
sex                  333
dtype: int64

In [12]:
df.shape

(344, 7)

In [13]:
df.size

2408

In [15]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [18]:
df.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [20]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [19]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [23]:
df.dropna(subset=['bill_length_mm','flipper_length_mm'],inplace=True)

In [24]:
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [34]:
bill_depth_mean=df['bill_depth_mm'].mean()
df['bill_depth_mm']=df['bill_depth_mm'].fillna(bill_depth_mean)
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [25]:
bill_length_mean=df['bill_length_mm'].mean()

In [26]:
bill_length_mean

np.float64(43.9219298245614)

In [27]:
body_mass_mean=df['body_mass_g'].mean()

In [28]:
body_mass_mean

np.float64(4201.754385964912)

In [31]:
bill_length_median=df['bill_length_mm'].median()
bill_length_median

44.45

In [32]:
body_mass_median=df['body_mass_g'].median()
body_mass_median

4050.0

In [35]:
df['bill_ratio']=df['bill_length_mm']/df['bill_depth_mm']
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_ratio
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,2.090909
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,2.270115
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,2.238889
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,1.901554
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,1.907767
...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,3.445255
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,3.272727
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,3.210191
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,3.054054
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,3.099379

In [36]:
df.rename(columns={'bill_length_mm':'bill_length'},inplace=True)
df

,species,island,bill_length,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_ratio
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,2.090909
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,2.270115
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,2.238889
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,1.901554
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male,1.907767
...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,3.445255
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,3.272727
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,3.210191
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,3.054054
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,3.099379

In [38]:
df['body_mass_g'].mean()

np.float64(4201.754385964912)

In [37]:
df[df['body_mass_g']>df['body_mass_g'].mean()]

,species,island,bill_length,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_ratio
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male,2.000000
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2.079208
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male,1.639810
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male,2.053140
39,Adelie,Dream,39.8,19.1,184.0,4650.0,Male,2.083770
...,...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,3.445255
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,3.272727
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male,3.210191
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,3.054054
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male,3.099379

In [42]:
df[(df['sex']=='Female')&(df['flipper_length_mm']>200)]

,species,island,bill_length,bill_depth_mm,flipper_length_mm,body_mass_g,sex,bill_ratio
90,Adelie,Dream,35.7,18.0,202.0,3550.0,Female,1.983333
216,Chinstrap,Dream,43.5,18.1,202.0,3400.0,Female,2.403315
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,Female,3.492424
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,Female,3.453901
225,Gentoo,Biscoe,46.5,13.5,210.0,4550.0,Female,3.444444
226,Gentoo,Biscoe,45.4,14.6,211.0,4800.0,Female,3.109589
228,Gentoo,Biscoe,43.3,13.4,209.0,4400.0,Female,3.231343
230,Gentoo,Biscoe,40.9,13.7,214.0,4650.0,Female,2.985401
232,Gentoo,Biscoe,45.5,13.7,214.0,4650.0,Female,3.321168
234,Gentoo,Biscoe,45.8,14.6,210.0,4200.0,Female,3.136986
236,Gentoo,Biscoe,42.0,13.5,210.0,4150.0,Female,3.111111
238,Gentoo,Biscoe,46.2,14.5,209.0,4800.0,Female,3.186207
241,Gentoo,Biscoe,45.1,14.5,215.0,5000.0,Female,3.110345
242,Gentoo,Biscoe,46.5,14.5,213.0,4400.0,Female,3.206897
244,Gentoo,Biscoe,42.9,13.1,215.0,5000.0,Female,3.274809
248,Gentoo,Biscoe,48.2,14.3,210.0,4600.0,Female,3.370629
251,Gentoo,Biscoe,42.8,14.2,209.0,4700.0,Female,3.014085
252,Gentoo,Biscoe,45.1,14.5,207.0,5050.0,Female,3.110345
254,Gentoo,Biscoe,49.1,14.8,220.0,5150.0,Female,3.317568
256,Gentoo,Biscoe,42.6,13.7,213.0,4950.0,Female,3.109489
258,Gentoo,Biscoe,44.0,13.6,208.0,4350.0,Female,3.235294
260,Gentoo,Biscoe,42.7,13.7,208.0,3950.0,Female,3.116788
262,Gentoo,Biscoe,45.3,13.7,210.0,4300.0,Female,3.306569
265,Gentoo,Biscoe,43.6,13.9,217.0,4900.0,Female,3.136691
266,Gentoo,Biscoe,45.5,13.9,210.0,4200.0,Female,3.273381
268,Gentoo,Biscoe,44.9,13.3,213.0,5100.0,Female,3.375940
270,Gentoo,Biscoe,46.6,14.2,210.0,4850.0,Female,3.281690
272,Gentoo,Biscoe,45.1,14.4,210.0,4400.0,Female,3.131944
274,Gentoo,Biscoe,46.5,14.4,217.0,4900.0,Female,3.229167
276,Gentoo,Biscoe,43.8,13.9,208.0,4300.0,Female,3.151079
278,Gentoo,Biscoe,43.2,14.5,208.0,4450.0,Female,2.979310
280,Gentoo,Biscoe,45.3,13.8,208.0,4200.0,Female,3.282609
282,Gentoo,Biscoe,45.7,13.9,214.0,4400.0,Female,3.287770
284,Gentoo,Biscoe,45.8,14.2,219.0,4700.0,Female,3.225352
288,Gentoo,Biscoe,43.5,14.2,220.0,4700.0,Female,3.063380
290,Gentoo,Biscoe,47.7,15.0,216.0,4750.0,Female,3.180000
293,Gentoo,Biscoe,46.5,14.8,217.0,5200.0,Female,3.141892
294,Gentoo,Biscoe,46.4,15.0,216.0,4700.0,Female,3.093333
296,Gentoo,Biscoe,47.5,14.2,209.0,4600.0,Female,3.345070
298,Gentoo,Biscoe,45.2,13.8,215.0,4750.0,Female,3.275362
300,Gentoo,Biscoe,49.1,14.5,212.0,4625.0,Female,3.386207
302,Gentoo,Biscoe,47.4,14.6,212.0,4725.0,Female,3.246575
304,Gentoo,Biscoe,44.9,13.8,212.0,4750.0,Female,3.253623
306,Gentoo,Biscoe,43.4,14.4,218.0,4600.0,Female,3.013889
308,Gentoo,Biscoe,47.5,14.0,212.0,4875.0,Female,3.392857
310,Gentoo,Biscoe,47.5,15.0,218.0,4950.0,Female,3.166667
312,Gentoo,Biscoe,45.5,14.5,212.0,4750.0,Female,3.137931
314,Gentoo,Biscoe,44.5,14.7,214.0,4850.0,Female,3.027211
317,Gentoo,Biscoe,46.9,14.6,222.0,4875.0,Female,3.212329
318,Gentoo,Biscoe,48.4,14.4,203.0,4625.0,Female,3.361111
320,Gentoo,Biscoe,48.5,15.0,219.0,4850.0,Female,3.233333
322,Gentoo,Biscoe,47.2,15.5,215.0,4975.0,Female,3.045161
326,Gentoo,Biscoe,41.7,14.7,210.0,4700.0,Female,2.836735
328,Gentoo,Biscoe,43.3,14.0,208.0,4575.0,Female,3.092857
330,Gentoo,Biscoe,50.5,15.2,216.0,5000.0,Female,3.322368
332,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,Female,2.861842
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female,3.276596
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female,3.445255
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female,3.272727
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female,3.054054

In [43]:
df.groupby('sex')['bill_ratio'].mean()

sex
Female    2.609508
Male      2.604988
Name: bill_ratio, dtype: float64

In [44]:
df.groupby('species')['flipper_length_mm'].mean()

species
Adelie       189.953642
Chinstrap    195.823529
Gentoo       217.186992
Name: flipper_length_mm, dtype: float64

In [45]:
df.corr(numeric_only=True)

,bill_length,bill_depth_mm,flipper_length_mm,body_mass_g,bill_ratio
bill_length,1.000000,-0.235053,0.656181,0.595110,0.780396
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916,-0.784191
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202,0.805166
body_mass_g,0.595110,-0.471916,0.871202,1.000000,0.703119
bill_ratio,0.780396,-0.784191,0.805166,0.703119,1.000000